html {
    margin: 0;
}

body {
    margin: 0;
    box-sizing: content-box;
    font-size: 25px;
    font-family: 'Exo 2';
}
h1 {
    font-family: "Exo 2";
    font-size: 5rem;
}
main {
    margin: 0;
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.ass {
    font-size: 1.2rem;
    color: white;
}

#res {
    margin-top: 5px;
    margin-bottom: 10px;
}
#res p {
    margin: 2px;
    font-size: 1.1rem;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    min-height: 18rem;
    width: 30rem;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 5px 10px black;
}

h1 {
    margin-bottom: 20px;
}

button {
    border: 0;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Exo 2';
    cursor: pointer;
    background-color: #222;
    color: white;
    text-transform: uppercase;
}

.start:hover {
    background-color: rgb(12, 178, 12);
}

.pause:hover {
    background-color: rgb(175, 30, 122);
}

.marcar:hover {
    background-color: rgb(224, 104, 34);
}

.stop:hover {
    background-color: rgb(175, 30, 30);
}

@media (max-width: 600px) {
    .container {
        width: max(90%);
        min-height: 18rem;
    }

    button {
        font-size: 1.3rem;
    }
}
